  
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #007c4c
}

.Container-1{
    display:flex;
    justify-content: center;
    align-items: space-around;
}
.Container-1{
    font-size: 1.7rem;
}

.Container-2{
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(1, 100vh);
    grid-template-rows:repeat(4, 83vh);
}

.content{
    font-size: 1.5rem; 
    background-color: rgba(152, 251, 152, 0.74);
    margin: 10px;
    padding: 10vh;
    border-radius: 5%;
}

.Container-1>button{
    cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  padding:10px;
  margin-left:20px; 
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
  border:none; 
  background-color: rgba(238, 9, 9, 0);
}

.content>button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    padding:20px;
    padding-left: 200px;
    padding-right: 200px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    -webkit-tap-highlight-color: transparent;
    background-color: rgba(214, 1, 1, 0.767);
    background: linear-gradient(to right,#f71414d8,#f80303c4);
    display: flex;
    margin: 5vh; 
    text-align: center;
    align-content: center;
    justify-content: center;
}

.content>button:hover{
    padding:24px;
    padding-left: 220px;
    padding-right: 220px;
    background: linear-gradient(to right,#f71414,#f80303);
}

.Buttons>button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    padding:10px;
    margin-left:20px; 
    color: #ffffff;
    -webkit-tap-highlight-color: transparent;
    border:none; 
    background-color: rgba(0, 0, 0, 0);
}

.Buttons>button:hover{
    background-color: rgba(240, 280, 350, 0.75);
}
